.main{
  width: 100vw;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero{
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 40%),url('../assets/projectbg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.hero p{
  text-align: center;
  width: 50%;
  border-radius: 15px;
  padding: 10px 2%;
  //background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,54,171,.3) 0%, rgba(31,0,60,.3) 51%, rgba(31,0,60,0) 100%);
}
.heroContainer{
  width: 90%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.image{
  width: 120px;
  height: 60px;
}
.work{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.workTitle{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.workSection{
  height: 75vh;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.skillfull{
  width: 90%;
}
.good{
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.third{
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skillCard{
  width: 90%;
  height: 100%;
  display: flex;
  border-radius: 15px;
  border: 2px solid white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../assets/cardbg.jpg');
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}
.skillCard h3, .skillCard p{
  width: 80%;
}
.skillCard:hover{
  box-shadow: 0px 0px 15px white;
  transform:scale(1.02);
}
.left{
  flex: 70%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right{
  flex: 30%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg{
  width: 70%;
  height: 80%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
#jwd{
  background: url('../assets/jwd.jpg');
  background-size: cover;
  background-position: center;
}
#vision{
  background: url('../assets/vision.jpg');
  background-size: cover;
  background-position: center;
}
.overlay{
  width: 100%;
  padding: 0 15%;
  height: 100%;
  display: flex;
  background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0.2) 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease;
}
.overlay:hover{
  opacity:1;

}
@media only screen and (max-width: 1200px){
  .heroContainer{
    height: 50vh;
  }
  .hero p{
    font-size:20px;
    background: none;
  }
  .workSection{
    height: 60vh;
  }
}
@media only screen and (max-width: 850px){
  .hero{
    height: 100vh;
  }
  .heroContainer{
    height: 35vh;
  }
  .workTitle h1{
    font-size:30px;
  }
  .workSection{
    height: 95vh;
    flex-direction: column;
  }
  .third{
    height: 25vh;
  }
  .skillCard{
    height: 90%;
    width: 95%;
  }
  .good{
    flex-direction: column;
  }
  .left{
    flex:35%;
  }
  .right{
    flex: 65%;
  }
  .image{
    display: none;
  }
}
